<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.kay.mapper.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="me.kay.entity.sys.SysPermission">
        <id column="permission_id" jdbcType="BIGINT" property="permissionId"/>
        <result column="permission_code" jdbcType="VARCHAR" property="permissionCode"/>
        <result column="permission_type" jdbcType="BIGINT" property="permissionType"/>
    </resultMap>
    <select id="selectPermissionByUserId" parameterType="String" resultType="string">
        select distinct sp.permission_code from sys_permission sp
        inner join sys_role_permission srp on sp.permission_id=srp.permission_id
        inner join sys_user_role sur on sur.role_id=srp.role_id
        where sur.user_id=#{userId}
    </select>

</mapper>